<tr>
  <td style="width:30px;text-align:center;display:block;">
    <% if comment.upvoted_by_user?(current_user) %>
    <%= link_to '▲', '#', class: "upvoter upvoted", "data-value" => comment.id, "data-type" => "Comment" %><br>
    <% else %>
    <%= link_to '▲', '#', class: "upvoter", "data-value" => comment.id, "data-type" => "Comment" %><br>
    <% end %>
    <small id="votes-<%= comment.id %>-<%= 'Comment' %>"><%= comment.karma %></small>
  </td>
  <td>
    <small>
      <strong><%= link_to comment.user.username, user_path(comment.user.username) %></strong>
      <% if comment.user == @article.user %>[OP]<% end %>
      posted <%=  time_ago_in_words(comment.created_at) %> ago
      <% if user_signed_in? && current_user == comment.user %>
      | <%= link_to 'Edit', edit_comment_path(comment) %>
      | <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </small>

    <%= CommonMarker.render_html( comment.body, :DEFAULT).html_safe %>

    <small><a href="#" class="reply" data-value="<%= comment.id %>">Reply</a></small>
    <% @comment.parent_comment_id = comment.id %>
    <div id="hidden-form-<%= comment.id %>" class="hidden-form">
      <%= render '/comments/form', comment: @comment %>
    </div>

    <% if comment.comments.any? %>
    <table style="margin-left: 24px;">
      <% comment.comments.hot.each do |child_comment| %>
      <%= render '/comments/comment', comment: child_comment %>
      <% end %>
    </table>
    <% end %>
  </td>
</tr>
