<tr>
  <td style="width:30px;text-align:center;">
    <% if article.upvoted_by_user?(current_user) %>
    <%= link_to '▲', '#', class: "upvoter upvoted", "data-value" => article.id, "data-type" => "Article" %><br>
    <% else %>
    <%= link_to '▲', '#', class: "upvoter", "data-value" => article.id, "data-type" => "Article" %><br>
    <% end %>
    <small id="votes-<%= article.id %>-<%= 'Article' %>"><%= article.karma %></small>
  </td>
  <td>
    <% if article.description_only? %>
    <strong><%= link_to article.title, article_path_with_slug(article.uid, article.slug) %></strong>
    <% else %>
    <strong><%= link_to article.title, article.url %></strong>
    <% end %>
    <% unless article.description.empty? %>☶<% end %>
    <em><small><%= article.host %></small></em><br>
    <small>Posted by <%= link_to article.user.username, user_path(article.user.username) %> <%= time_ago_in_words(article.created_at) %> ago
      <% if locals[:show_comments?] %>
      | <%= link_to "#{article.comments.count} comments", article_path_with_slug(article.uid, article.slug) %>
      <% end %>
      <% if user_signed_in? %>
      | <%= link_to 'Report', new_report_path(report: {reportable_id: article.id, reportable_type: article.class.to_s}) %>
      <% end %>
      <% if user_signed_in? && (current_user.id == article.user.id || current_user.moderator) %>
      | <%= link_to 'Edit', edit_article_path(article.uid) %>
      | <%= link_to 'Destroy', article_path(article.uid), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </small>
  </td>
</tr>

<% if locals[:show_description?] %>
<tr>
  <td></td>
  <td>
    <% unless article.description.empty? %>
    <div class="mathjax">
      <%= CommonMarker.render_html( article.description, :DEFAULT).html_safe %>
    </div>
    <% end %>
  </td>
</tr>
<% end %>
