<p id="notice"><%= notice %></p>

<table>
  <% @articles.each do |article| %>

  <tr>
    <td style="width:30px;text-align:center;">
      <% if article.upvoted_by_user?(current_user) %>
      <%= link_to '▲', '#', class: "upvoter upvoted", value: article.id %><br>
      <% else %>
      <%= link_to '▲', '#', class: "upvoter", value: article.id %><br>
      <% end %>
      <small><%= article.votes.count %></small>
    </td>
    <td>
      <strong><%= link_to article.title, article.url %></strong> <br>
      <small>Posted by <%= article.user.username %> <%= time_ago_in_words(article.created_at) %> ago
        | <%= link_to "#{article.comments.count} comments", article %>
        <% if user_signed_in? && current_user.id == article.user.id %>
        | <%= link_to 'Edit', edit_article_path(article) %>
        | <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </small>
    </td>
  </tr>
  <% end %>
</table>

<%= paginate @articles%>
