<p id="notice"><%= notice %></p>

<h2><%= link_to(@article.title, @article.url) %></h2>
<small>Posted by <%= @article.user.email %> at <%= @article.created_at %>
  <% if user_signed_in? && current_user == @article.user %>
  | <%= link_to 'Edit', edit_article_path(@article) %>
  | <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</small>

<% unless @article.description.nil? %>
<p>
  <%= @article.description %>
</p>
<% end %>

<%= render '/comments/form', comment: @comment %>

<% @article.comments.each do |comment| %>
<p>
  <small>
    <strong><%= comment.user.email %></strong> posted at <%= comment.created_at %>
    <% if user_signed_in? && current_user == comment.user %>
    | <%= link_to 'Edit', edit_comment_path(comment) %>
    | <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </small><br />
  <%= comment.body %>
</p>
<% end %>

<%= link_to 'Back', "/" %>
