<h1><%= @user.username %></h1>

<table>
  <tr>
    <td style="width: 200px"><strong>Status:</strong></td>
    <td><%= @user.status %></td>
  </tr>
  <tr>
    <td><strong>Priviledges:</strong></td>
    <td><%= @user.priviledges %></td>
  </tr>
  <tr>
    <td><strong>Joined:</strong></td>
    <td><%= @user.created_at_in_words %> ago</td>
  </tr>
  <tr>
    <td><strong>Stories Submitted:</strong></td>
    <td><%= @user.articles.size %></td>
  </tr>
  <tr>
    <td><strong>Comments Posted:</strong></td>
    <td><%= @user.comments.size %></td>
  </tr>
  <tr>
    <td><strong>Karma:</strong></td>
    <td><%= @user.karma %></td>
  </tr>
</table>
