<!DOCTYPE html>
<html>
  <head>
    <title>Quasa.rs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <table style="width:770px;">
        <tr>
          <td style="width:693px;">
            <strong style="padding-right:10px;"><%= link_to 'Quasa.rs', '/' %></strong>
            <%= link_to 'New Article', new_article_path %>
          </td>

          <% if user_signed_in? %>
          <td style="width:77px;text-align:right;"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></td>
          <% else %>
          <td style="width:77px;text-align:right;"><%= link_to 'Sign In', new_user_session_path %></td>
          <% end %>
        </tr>
      </table>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
