<!DOCTYPE html>
<html>
  <head>
    <% if @article %>
    <title><%= @article.title %> | Quasars</title>
    <% else %>
    <title>Quasars</title>
    <% end %>

    <%= render "article_meta" if @article %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>
    <%= favicon_link_tag asset_path('favicon.ico'), rel: 'icon', type: "image/x-icon" %>

  </head>

  <body>
    <nav>
      <table style="width:770px;">
        <tr>
          <td style="width:30px;text-align:center;">
            <%= link_to image_tag('quasars_logo.svg', size: '30x30'), '/' %>
          </td>
          <td style="width:601px;">
            <strong><%= link_to 'Quasars', '/' %></strong>
            <span style="padding-right:12px;color:<%= ENV['DEPLOY'].try(:downcase) || 'red' %>">●</span>

            <%= link_to 'New Article', new_article_path, style: "padding-right:12px" %>
            <% if user_signed_in? && current_user.moderator %>
            <%= link_to 'Moderation Queue', reports_path, style: "padding-right:12px" %>
            <% end %>
          </td>

          <% if user_signed_in? %>
          <td style="width:137px;text-align:right;">
            <%= link_to "#{current_user.username} (#{current_user.karma})", user_path(current_user.username), style: "padding-right: 12px" %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
          </td>
          <% else %>
          <td style="width:77px;text-align:right;"><%= link_to 'Sign In', new_user_session_path %></td>
          <% end %>
        </tr>
      </table>
    </nav>

    <div class="container">
      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>

      <%= yield %>
    </div>
  </body>
</html>
