<!DOCTYPE html>
<html>
  <head>
    <title>Quasa.rs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= image_tag("logo.svg", size: "30x30", class: "d-inline-block align-top") %>
      <h1><%= link_to 'Quasa.rs', '/' %></h1>

      <ul>
        <li><%= link_to 'New Article', new_article_path %></li>
        <% if user_signed_in? %>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
